@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&display=swap");

:root{
  --gray: #7d7d7d;
  --blue-dark: #0b1120;
  --blue-light: #273b47;
  --green: #85b336;
  --yellow: #f8cc32;
  --green-transparent-dark: rgba(133, 179, 54, 0.15);
  --green-transparent-light: rgba(133, 179, 54, 0.25);
  --inter-font: "Inter", sans-serif;
  --gap-cell: 6px;
  --cell-size : 85px;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body,html{
  font-family: var(--inter-font);
  margin: 0;
  padding: 0;
}
#app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--blue-dark);
}
.table{
  margin: 1em auto;
  width: min(95%,800px);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.table__title{
  text-align: center;
  color: white;
}

.table__grid{
  width: calc(calc(var(--cell-size) * 5) + calc(4 * var(--gap-cell)));
  display: grid;
  gap : var(--gap-cell);
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: 1fr;
  margin: auto;
}
.table__row{
  display: grid;
  gap : var(--gap-cell);
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 1fr;
}

.table__cell{
  width: var(--cell-size);
  border-radius: 10px;
  height: var(--cell-size);
  border: 2.5px solid var(--gray);
  display: grid;
  place-items: center;

  color: white;
  opacity: 25%;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

/* cuando se escribe */
.filled-letter {
  opacity: 100%;
  animation: 150ms ease-out 0s scaleLetter;
}

.letter-grey {
  background-color: var(--blue-light);
  border: 0.1rem solid var(--blue-light);
}

.letter-green {
  background-color: var(--green);
  border: 0.1rem solid var(--green);
}

.letter-yellow {
  background-color: var(--yellow);
  border: 0.1rem solid var(--yellow);
}

@keyframes scaleLetter {
  50% {
    transform: scale(1.1);
  }
}


.table__restart{
  cursor: pointer;
  background-color: var(--green);
  border-radius: 10px;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  font-family: var(--inter-font);
  border: 0;
  transition: box-shadow 300ms ease;
  box-shadow: 0px 0px 20px 5px var(--green-transparent-dark);
  margin: 0 auto;
}

.table__restart:hover {
  box-shadow: 0px 0px 20px 5px var(--green-transparent-light);
}

.table__restart:disabled {
  cursor: default;
  background-color: var(--blue-dark);
  color: var(--gray);
  border: 1px solid var(--gray);
  box-shadow: none;
}

.table__notification{
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

